body {
    background: #fafafa;
}
aside {
    background: #fff;
    height: 100%;
}
aside .row a {
    width: 100%;
}
.information img {
    text-align: center!important;
    width: 100%!important;
}
.row .user_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.alert-light {
    border-color: #bfbfbf;
}
aside img {
    max-height: 400px;
    width: 100%;
}
.form-section {
    background: #fff;
    padding: 20px;
    border: 1px solid silver;
    box-sizing: border-box;
    width: 100%;
}
.form-section > h2 {
    color: #b38a22;
    margin-bottom: 10px;
}
.user_image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
}
.profile-count-of-posts {
    font-size: 30px;
}
#cke_id_text {
    width: 100%!important;
}
.tr-hover:hover {
    background-color: #fafafa;
}
footer {
    padding: 30px;
    background: #333a41;
    color: #f1efef;
    width: 100%;
    margin-top:20px;
}
footer a {
    color: #788c9e;
}
footer a:hover {
    color: #79b0e2;
}
