{% extends 'wrapper.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block title %}
{% trans 'Добавление новой статьи' %}
{% endblock %}

{% block content %}
  <div class="form-section">
    <h2>{% trans 'Добавление новой статьи' %}</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="text-right">
          <button class="btn btn-outline-secondary" type="submit">{% trans 'Добавить' %}</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block aside %}
{% include 'include/last_news.html' %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
