{% extends 'wrapper.html' %}


{% block title %}
Главная
{% endblock %}

{% block content %}
{% for post in news %}
<div class="alert alert-light">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|truncatewords:30 }}</p>
    <div class="d-flex justify-content-between">
        <div class="row">
            <img class='user_image' src="{{ post.author.profile.img.url }}">
            <div class="mt-2">
                <span class='text-muted'>{{ post.date|date:"d E Y в H:i" }}</span>
                <p><b>Автор: </b><a href='{% url "user-news" post.author %}'>{{ post.author }}</a></p>
            </div>
        </div>
        <div class="align-self-center">
            <a class='btn btn-outline-warning' href="{% url 'news-detail' post.id %}">Читать</a>
        </div>
    </div>
</div>
{% endfor %}
{% include 'include/pagination.html' %}
{% endblock %}

{% block aside %}
{% include 'include/search.html' %}
<table class='table table-bordered'>
    <thead class="thead-dark">
    <tr>
      <th scope="col">Валюта</th>
      <th scope="col">НБУ</th>
    </tr>
  </thead>
  <tbody>
      {% for r in rate %}
      <tr class='tr-hover'>
        <td>{{ r.name }}</td>
        <td>{{ r.cours }}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock %}
