{% extends 'wrapper.html' %}
{% load i18n %}


{% block title %}
Мои группы
{% endblock %}

{% block content %}
{% for post in posts %}
{% if post.img %}
<div class="d-flex card-div">
    <div class="col-4 post-image-div p-0">
        <img src="{{ post.img.url }}">
    </div>
    <div class="col-8 p-3 d-flex flex-column justify-content-between">
        <div class="">
            <h5>{{ post.title }}</h5>
            <p>{{ post.text|truncatewords:30|safe }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="row">
                <img class='user_image' src="{{ post.author.profile.img.url }}">
                <div class="mt-2">
                    <span class='text-muted'>{{ post.date|date:"d E Y в H:i" }}</span>
                    <p><b>{% trans 'Автор' %}: </b><a href='{% url "user-news" post.author %}'>{{ post.author }}</a></p>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="mr-3">
                    <i class="far fa-eye"></i>
                    {{ post.count }}
                </div>
                <a class='btn btn-secondary' href="{% url 'news-detail' post.id %}">{% trans 'Читать' %}</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-light">
    <h2>{{ post.title }}</h2>
    <p>{{ post.text|truncatewords:30|safe }}</p>
    <div class="d-flex justify-content-between">
        <div class="row">
            <img class='user_image' src="{{ post.author.profile.img.url }}">
            <div class="mt-2">
                <span class='text-muted'>{{ post.date|date:"d E Y в H:i" }}</span>
                <p><b>{% trans 'Автор:' %} </b><a href='{% url "user-news" post.author %}'>{{ post.author }}</a></p>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="mr-3">
                <i class="far fa-eye"></i>
                {{ post.count }}
            </div>
            <div class="mr-3">
                <a class='btn btn-secondary' href="{% url 'news-detail' post.id %}">{% trans 'Читать' %}</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}


{% block aside %}
<h3>Интересные факты</h3>
<img src="https://images.pexels.com/photos/1927314/pexels-photo-1927314.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-thumbnail mb-2">
<p>Able rent long in do we. Hard do me sigh with west same lady.
    Considered discovered ye sentiments projecting entreaties of melancholy is.
    An concluded sportsman offending so provision mr education.
    An stairs as be lovers uneasy. Estate was tended te</p>
<a href="#">
    <button class="btn btn-warning">Просмотреть</button>
</a>
{% endblock %}
