{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b6d85b8ecc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 p-3">
        <a class="navbar-brand" href="{% url 'blog-home' %}">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-secondary header-btn mr-2" href="{% url 'blog-home' %}">{% trans 'Главная' %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary header-btn mr-2" href="{% url 'blog-contacts' %}">{% trans 'Контакты' %}</a>
                </li>
            </ul>
            <div class="my-lg-0">
                {% if user.is_authenticated %}
                <a href="{% url 'profile' %}" class='btn btn-outline-secondary header-btn mr-1'>{% trans 'Личный кабинет' %}</a>
                <a href="{% url 'exit' %}" class='btn btn-outline-secondary header-btn'>{% trans 'Выйти' %}</a>
                {% else %}
                <a href="{% url 'reg' %}" class='btn btn-outline-secondary header-btn mr-1'>{% trans 'Регистрация' %}</a>
                <a href="{% url 'auth' %}" class='btn btn-outline-secondary header-btn'>{% trans 'Войти' %}</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <main class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 content-div">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            <aside class="col-lg-4">
                <div class="p-3">
                    {% block aside %}
                    {% endblock %}
                </div>
            </aside>
        </div>
    </main>
    <footer>
        <div class="d-flex justify-content-between">
            <p class="mt-3">{% trans 'Первый раз на сайте' %}? <a href="{% url 'reg' %}">{% trans 'Регистрация' %}</a> {% trans 'или' %} <a href="{% url 'blog-contacts' %}">{% trans 'Связь с нами' %}</a>.</p>
            <form action="{% url 'set_language' %}" method="post" class="form-inline">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select class="form-control" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-outline-secondary ml-2">{% trans 'Выбрать' %}</button>
            </form>
            <p class="mt-3">
                <a href="#">{% trans 'Наверх' %}</a>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
