{% extends 'wrapper.html' %}
{% load crispy_forms_tags %}


{% block title %}
 Запросить новый пароль
{% endblock %}

{% block content %}
  <div class="form-section">
    <h2>Запросить новый пароль</h2>
    <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-danger" type="submit">Заменить пароль</button>
    </form>
  </div>
{% endblock %}


{% block aside %}
<h3>Раритетные авто</h3>
<img src="https://images.pexels.com/photos/1841120/pexels-photo-1841120.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img-thumbnail mb-2">
<p>Able rent long in do we. Hard do me sigh with west same lady.
Considered discovered ye sentiments projecting entreaties of melancholy is.
An concluded sportsman offending so provision mr education.
An stairs as be lovers uneasy. Estate was tended te</p>
<a href="#">
  <button class="btn btn-warning">Просмотреть</button>
</a>
{% endblock %}
