{% extends 'wrapper.html' %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block title %}
{% trans 'Личный кабинет' %}
{% endblock %}

{% block content %}
<div class="full-screen-div">
    <div class="form-section">
        <h4>{% trans 'Изменить данные пользователя' %}</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ update_user|crispy }}
            <hr>
            {{ img_profile }}
            <div class="mt-3 text-right">
                <button class="btn btn-outline-secondary" type="submit">{% trans 'Обновить' %}</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block aside %}
<div>
    {% include 'include/last_news.html' %}
</div>
{% endblock %}
